<p style="font-family:Arial;font-size:15px;color:#808080;">Hi karthick</p>
<p style="font-family:Arial;font-size:15px;color:#808080;">This report outlines our observations as identified in your recent audit. It is our view of your compliance with the relevant laws and regulations, and with the licensee’s internal policies and guidelines. </p>
<p style="font-family:Arial;font-size:15px;color:#808080;">Each file audit involves a review of the advice file(s) including the most recent Statement of Advice along with relevant supporting documents including your file notes, Client Data Form, Risk Profile Questionnaire (where applicable), and the implementation of your recommendations. Each file is assessed in accordance with the criteria in the below table. </p>
<table style="width:100%;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;font-family:Arial;font-size:15px;color:#808080;">
<tbody><tr style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">
<th style="width:12%;background-color:#f2f2f2;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"></th>
<td style="width:22%;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">QUESTIONS PASSED</td>
<td style="width:22%;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">BEST INTEREST DUTY</td>
<td style="width:22%;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">APPROPRIATE ADVICE</td>
<td style="width:22%;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">HIGH RISK</td>
</tr>
<tr style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">
<th style="background-color:#f2f2f2;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">A</th>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"><span style="color: rgb(90, 91, 94); font-size: 10pt; font-family: ArialMT;">≥</span> 90%</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+Met</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+Met</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+Nil</td>
</tr>
<tr style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">
<th style="background-color:#f2f2f2;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">B</th>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"><span style="color: rgb(90, 91, 94); font-size: 10pt; font-family: ArialMT;">≥</span> 80%</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"></td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+No client detriment</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+Nil</td>
</tr>
<tr style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">
<th style="background-color:#f2f2f2;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">C</th>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"><span style="color: rgb(90, 91, 94); font-size: 10pt; font-family: ArialMT;">≥</span> 60%</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"></td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+No client detriment</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">+Nil</td>
</tr>
<tr style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">
<th style="background-color:#f2f2f2;border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">D</th>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">&lt; 60%</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"></td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;">Client detriment</td>
<td style="border:1px solid #d9d9d9;border-collapse:collapse;text-align:center;"><span style="color: rgb(90, 91, 94); font-size: 10pt; font-family: ArialMT;">≥</span> 1</td>
</tr>
</tbody></table>
<p style="font-family:Arial;font-size:15px;color:#808080;">Please ensure that you review the report carefully. This report will outline any corrective actions which are required to be attended to within a specific timeframe to rectify an issue. These are detailed in the Action Register at the end of this report.</p>